.page-wrapper__main {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 80px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}