.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  display: flex;
  flex-direction: row;
  padding-left: 90px;
  padding-right: 90px;
  width: 1280px;
  margin: 0 auto;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
}